body {
  background-color: #1c1c1c;
  margin: 0;
}


a.link {
  flex-wrap: wrap;
  font-weight: bold;
  color: #6098f0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  transition: text-shadow 0.3s ease;
  text-decoration: none;
  margin-right: 20px;
}

a.link:hover {
  /*transform: scale(1.15);*/
  text-shadow: 0px 0px 10px #5a83e0;
}

a.button {
  margin: 15px;
  color: #fef1f1;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1.heading {
  margin: 30px;
  color: #fef1f1;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

h1.heading-info {
  margin: 12px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2.heading {
  margin: 30px;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h2.info {
  text-decoration: underline;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  font-size: 25px;
}

p.info {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  font-size: 18px;
}

h3.info {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  font-size: 22px;
}

p.about {
  text-indent: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  font-size: 28px;
}

@media (max-width: 900px) {
  p.about {
    font-size: 20px;
  }
}

img.logo {
  width: 40px;
  margin: 12px;
  position: relative; 
  border-radius: 20px;
  cursor: pointer;
}

img.play {
  width: 40px;
  margin-inline: 50px;
  border-radius: 60px;
  cursor: pointer;
}

img.search {
  
  width: 26px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  img.search {
    margin-inline: -10px;
    width: 20px;
    border-radius: 20px;
  }
}

h1.footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

nav.block {
  justify-content: flex-start;
  flex-wrap: wrap;
  opacity: 0.9;
  display: flex;
  align-items: center;
  background-color: #121212;
  padding-block: 6px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
@media (max-width: 900px) {
  nav.block {
    justify-content: center;
    text-align: center;
  }
}
nav.block a:first-child {
  margin-right: 10px;
}

div.heading {
  width: 100%;
  background-size: cover;
  padding-block: 70px;
  background-repeat: no-repeat;
  background-image: url("space_new.png");
}

div.section {
  margin: 30px;
  border-radius: 12px;
  padding-block: 50px;
  background-color: #2e2e2e;
}

div.flex {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 800px) {
  div.flex {
    flex-direction: column;
  }
}
div.block {
  position: relative;
  justify-content: center;
  border: thin solid #b0b0b0;
  border-radius: 12px;
  margin: 30px;
  width: 400px;
  height: 390px;
  background-color: #363636;
  transition: border-color 0.2s ease;
}

@media (max-width: 1000px) {
  div.block {
    width: 290px;
    height: 430px;
  }
}

div.block:hover {
  border: 1px solid #ffffff;
}

div.button {
  bottom: 10px;
  right: 5px;
  position: absolute;
  text-align: center;
  justify-content: center;
  border: thin solid #60d774;
  border-radius: 12px;
  margin-inline: 10%;
  margin-block: 15px;
  padding-block: 0.1px;
  width: 80%;
  /*height: 60px;
  width: 200px; */
  background-color: #218f19;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

div.button:hover {
  box-shadow: 0px 0px 20px green;
}

div.button a {
  text-decoration: none;
  color: #fef1f1;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}



div.disclaimer {
  margin: 30px;
  padding-block: 25px;
  border-radius: 12px;
  background-color: #67f32b;
  opacity: 0.65;
}

a.x {
  margin: 12px;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

a.x:hover {
  transform: rotate(90deg);
}
footer {
  background-color: #121212;
  padding-block: 40px;
  text-align: center;
}


p.bad_output {
  margin: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: red;
  
}
p.good_output {
  margin: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: green;
}
div.flex-nav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}



input.search {
  
  margin-left: 12px;
  color: white;
  width: 300px;
  height: 30px;
  font-size: 15px;
  border: thin solid #b0b0b0;
  border-radius: 8px 0px 0px 8px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #1c1c1c;
}

@media (max-width: 900px) {
  input.search {
    height: 40px;
    font-size: 20px;
  }
}

button.send {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  height: 30px;
  width: 43px;
  background-color: #404040;
  border-radius: 0px 8px 8px 0px;
  border: thin solid #b0b0b0;
  transition: ease 0.2s;
  cursor: pointer;
}

@media (max-width: 900px) {
  button.send {
    height: 40px;
    width: 40px;
  }
}

button.send:hover {
  opacity: 0.7;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 12px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span.dropbtn {
  font-weight: bold;
  font-size: 23px;
  margin-inline: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

span.dropbtn:hover {
  color: grey;
}
